<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codelegacy.smartstudy">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartStudy"
        tools:targetApi="31">
        <activity
            android:name=".StdRegActivity"
            android:exported="false" />
        <activity
            android:name=".par_reg"
            android:exported="false" />
        <activity
            android:name=".TeaMarkList"
            android:exported="false" />
        <activity
            android:name=".TeaMarkList2"
            android:exported="false" />
        <activity
            android:name=".TeaStudyDataList"
            android:exported="false" />
        <activity
            android:name=".TeaStudentList"
            android:exported="false" />
        <activity
            android:name=".TeaMarkDataUpload"
            android:exported="false" />
        <activity
            android:name=".TeaDashActivity"
            android:exported="false" />
        <activity
            android:name=".TeaRegActivity"
            android:exported="false" />
        <activity
            android:name=".TeaStudyDataUpload"
            android:exported="false" />
        <activity
            android:name=".StdClassDaysActivity"
            android:exported="false" />
        <activity
            android:name=".StdDashActivity"
            android:exported="false" />
        <activity
            android:name=".ParDashActivity"
            android:exported="false" />
        <activity
            android:name=".ParLoginActivity"
            android:exported="false" />
        <activity
            android:name=".StdLoginActivity"
            android:exported="false" />
        <activity
            android:name=".TeaLoginActivity"
            android:exported="false" />
        <activity
            android:name=".AuthActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>